<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="Shopware\Core\Framework\Plugin\KernelPluginLoader\KernelPluginLoader" public="true">
            <factory service="kernel" method="getPluginLoader" />
        </service>

        <service id="Shopware\Core\Framework\Plugin\KernelPluginCollection" public="true">
            <factory service="Shopware\Core\Framework\Plugin\KernelPluginLoader\KernelPluginLoader" method="getPluginInstances"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Changelog\ChangelogParser"/>

        <service id="Shopware\Core\Framework\Plugin\Changelog\ChangelogService">
            <argument type="service" id="Shopware\Core\Framework\Plugin\Changelog\ChangelogParser"/>
        </service>

        <!-- Composer -->
        <service id="Shopware\Core\Framework\Plugin\Composer\PackageProvider"/>

        <service id="Shopware\Core\Framework\Plugin\Composer\CommandExecutor" lazy="true">
            <argument>%kernel.project_dir%</argument>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Util\VersionSanitizer"/>
    </services>
</container>
